<%- include('./shared/metadata')%>
<link rel="stylesheet" href="/styles/home.css">


</head>
<body>
   
    <%-include('./shared/header')%>
  
<section id="icon">

    <p><a href="/login">Please login ..!</a></p>
   

    
    <h1>Welcome</h1>

</section>
</body>
</html>